// http://tympanus.net/codrops/2012/09/19/fullscreen-video-slideshow-with-bigvideo-js/

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: #fff;
  overflow: hidden;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-weight: 300;
  font-size: 1em;
}

.wrapper {
  position: absolute;
  width: 500%;
  height: 100%;
  z-index: 0;
}

header {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 999;
  color: #fff;  
  .copy {
    opacity: 0;
    transition: all 1500ms ease-in-out,font-size 1ms;
    &.visible {
      transform: scale(1.0125);
      transform-origin: center center;
      opacity: 1;
      filter: alpha(opacity=100);
    }
  }
}

.big-image {
  min-width: 100%;
  min-height: 100%; 
  height: auto;
  width: auto; 
}

// #big-video-wrap {
//   filter: blur(10px);
// }

.screen {
  position: relative;
  height: 100%; 
  width: 20%; /*  NOTE:numVideos/100%  */
  float: left;
  overflow: hidden;
}

.video-title {
  position: absolute;
  bottom: 5%;
  left: 5%;
  opacity: .5;
  margin: 0;
  padding: 0;
  line-height: .65;
  font-size: 4em;
  text-transform: uppercase;
}

nav {
  position:absolute; 
  right: 5%; 
  top: 45%; 
  padding: 20px; 
  background: #000; 
  border-radius: 40px; 
  opacity: 0; 
  cursor: pointer;
  transition: 1.8s opacity ease-out;
  
  &:hover {
    opacity: .6;
  }
  &.visible {
    opacity: .4;
  }
}

.next-icon {
  display: block;
  border-top: solid 2px #fff; 
  border-right: solid 2px #fff; 
  width: 20px; 
  height: 20px;
  position: relative;
  left: -5px;
  transform: rotate(45deg);
  color: #fff;
  text-decoration: none;
}